<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>794403398161-jm5o17qrqdup9i740it1n0a6gdet9vgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794403398161-jm5o17qrqdup9i740it1n0a6gdet9vgh</string>
	<key>API_KEY</key>
	<string>AIzaSyACyJof-Dpvbd7wJNxxnGNr6OXXdmW5ynQ</string>
	<key>GCM_SENDER_ID</key>
	<string>794403398161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>epn.Practicandosuple</string>
	<key>PROJECT_ID</key>
	<string>iosproyect-d0a64</string>
	<key>STORAGE_BUCKET</key>
	<string>iosproyect-d0a64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794403398161:ios:5e556e7807edfe00</string>
	<key>DATABASE_URL</key>
	<string>https://iosproyect-d0a64.firebaseio.com</string>
</dict>
</plist>